@import url('https://fonts.cdnfonts.com/css/devil-breeze');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/bimbo');


body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    color: #2a2b27;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* background-image: url(img/bg.png), repeating-linear-gradient(to right, transparent 0 500px, #73814B33 500px 501px); */

    background-size: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}



.progress-bar-container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
progress[value]::-webkit-progress-value {
    background-color: #f2f2f2;
}
#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
    background-color: #ffffff;
    transition: width 0.2s ease;

}

label {
    color: white;
    font-size: 2rem;
}


.section {
    
    min-height: 100vh;
    position: relative;
    display: flex;

}



.content-fit-left {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 1em;
}

.content-fit-right {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 1em;
}

.section .decorate {
    position: absolute;
}

.section .number {
    font-family: "devil breeze";
    font-size: 7em;
    font-weight: bold;
 
}
.section .content-fit-left .title {
    font-family: "futura";
    font-size: 5em;
    font-weight: bold;
}
.section .content-fit-right .title {
    font-family: "futura";
    font-size: 5em;
    font-weight: bold;
}
#p0 {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#p0 .logo {
    z-index: 5;
    position: relative;
    display: flex;
    top: -100px;
    
}
#p0 #left{

    text-align: center;
    font-size: 2em;


}
#p0 #left #logo1{
 
    width: 230px;
    
}
#p0 #left #logo2{
    position: inline-block;
    width: 230px;
    margin: 20px;

}
#p0 #right{
    position: absolute;
    text-align: center;
    font-size: 2em;
    right: 75px;

}
#p0 #right #logo3{
    position: absolute;
    width: 150px;
    margin: 20px;
    right: 75px;
}

#p0 .title {
    width: 100%;
    color: #2a2b27;
    
    font-size: 13em;
    font-family: "helvetica";
    font-weight: bold;
    position: relative;
    text-align: center;
    z-index: 5;
    transform: scaleY(1.1); /* Stretches text vertically by 2x */
}
#p0 .title::before {
    content: attr(data-before);
    position: absolute;
    font-family: "impact"; 
    top: 1.5em;
    inset: 0.66em 0 0 0;
    z-index: -1;
    color: #4c4d47;
}
#p0 .scrolltext{
    z-index: 100;
    text-align: center;
    position: relative;
    margin: 10px;
}
#p0 .mouse {
    
    width: 25px;
    height: 50px;
    border: 2px solid #2a2b27;
    border-radius: 20px;
    align-items: center; /* Center vertically */
    z-index: 100;
    position: relative;
    display: flex;
    margin: 0 auto; /* Automatically set equal margins on the left and right */

}
#p0 .mouse-wheel{
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #2a2b27;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}
@keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}

.content-fit-left {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    padding-left: 7%;
    position: absolute;
    width: 50%;
    margin: 50px;
}
.scene-left #scene2{
    width: 30%;
    position: absolute;
    top: 200px;
    right : 13%;
}
.scene-left #scene4{
    width: 30%;
    position: absolute;
    top: 200px;
    right : 13%;
    z-index: 100;
}
.scene-left #scene6{
    width: 45%;
    position: absolute;
    top: 100px;
    right : 0%;
    z-index: 1;
}
.content-fit-right {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    padding-right: 7%;
    position: absolute;
    width: 50%;
    margin: 50px;
    right: 0;
}
.scene-right #scene1{
    width: 30%;
    position: absolute;
    top: 200px;
    left :0;
}
.scene-right #scene3{
    width: 10%;
    position: absolute;
    top: 200px;
    left :30%;
}
.scene-right #scene5{
    position: absolute;
    width: 40%;
    top: 150px;
    left :5%;
}
.scene-right #scene7{
    position: absolute;
    width: 22%;
    top: 150px;
    left :15%;
  
}

#p9 .title{
    width: 80%;
    left: 10%;
    color: #2a2b27;
    
    font-size: 2em;
 
    margin-top: 100px;
    position: relative;
    text-align: center;
    z-index: 100;
}

#container3D {
    position: fixed;
    inset: 0;
    /* background-color: red; */
    z-index: 10;
    pointer-events: none;
}
@media screen and (max-width: 1023px){
    #banner .title {
        font-size: 5em;
    }
    #intro .content-fit {
        flex-direction: column;
    }
}
@media screen and (max-width: 767px){
    #banner .title {
        font-size: 3em;
    }
    #intro .content-fit {
        flex-direction: column;
    }
    .section .number {
        font-size: 5em;
    }
    .section .content-fit .title {
        font-size: 2em;
    }
    .section .content-fit-left .title {
        font-size: 2em;
    }
    .section .content-fit-right .title {
        font-size: 2em;
    }
    #description .content-fit {
        padding-right: 0;
    }
    #contact table {
        font-size: 1em;
    }
    #contact .sign {
        font-size: 2em;
    }
    #container3D {
        position: absolute;
    }
}

.footer{
    width: 100%;
    padding: 70px 100px 20px;

}

.footer a i{
    padding: 10px;
    font-size: 2em;
    color: black;
    
}

.footer p{
    display: inline-block; 
    right: 0;
}